body{
    background-color: #444448;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}
/* Welcome section */
        #welcome-section {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            /* Change the background color as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            animation: fadeOut 2s forwards;
        }
    
        #logo {
            width: 200px;
            /* Adjust the size of the logo as needed */
            height: 200px;
        }
    
        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
    
            100% {
                opacity: 0;
                display: none;
            }
        }
/* End welcome */


.show {
    animation: fadeInAnimation cubic-bezier(.39, .09, .25, .94) 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main{
    width: 100vw;
    height: 100vh;
    
}
.small:hover {

    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.small{
    letter-spacing: 0.3em;
        font-size: 200%;
        color: white;
        
}
.top{
    
    
    width: 100%;
    height: 100%;
    display: grid;
    
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . . . . "
        ". a . . . . . . . . "
        ". . b . . . . . . . "
        ". . . c . . . . . . "
        ". . . . . . . . . . ";

}
.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}



/* Secound */
.home{
    height: 100vh;
    width: 100vw;
}

/* /* @media only screen and (max-width: 600px) {
    #line{
        display: none;

    } 
} */
.welcome {
    text-align: left;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 12%);
    grid-template-rows: repeat(7, 15%);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . . . "
        ". i i . . . . . . "
        ". . j j . . . . . "
        ". . . v v . . . . "
        ". . . . g g . . . "
        ". . . . . d d . . "
        ". . . . . . . . . ";
}

.i {
    grid-area: i;
}

.j {
    grid-area: j;
}

.v {
    grid-area: v;
}

.g {
    grid-area: g;
}

.d {
    grid-area: d;
}

@media only screen and (max-width: 600px) {
    .welcome {
        
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            ". . . . . ."
            ". . . i . ."
            ". . . j . ."
            ". . . v . ."
            ". . . g . ."
            ". . . d . ."
            ". . . . . .";
    }
}

.linkItems:hover {
    
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.linkItems{
    letter-spacing: 0.3em;
    font-size: 300%;
    color: white;
    
}

       
    

 #line {
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
 }
       

 .lineAnime {
     stroke-dasharray: 10000;
     stroke-dashoffset: 100;
     animation: dash 3s linear alternate ;
 }

 @keyframes dash {
     from {
         stroke-dashoffset: 10000;
     }

     to {
         stroke-dashoffset: 100;
     }
 }
 